.geo {
  background-color: darken($corTextoEscura, 100%);

  h2 {
    text-align: center;
    margin-bottom: 8px;
  }

  & > p {
    text-align: center;
    margin-bottom: 40px;
  }

  &__tab {
    display: flex;
    justify-content: center;
    gap: 20px;

    &__btn {
      &--active {
        background-color: $corPrincipalClara;
        color: $corTextoClara;
      }
    }
  }

  &__list {
    max-width: 820px;
    padding: 40px 0;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    &--active {
      display: flex;
    }

    &__item {
      width: 260px;
      height: 360px;
      background-color: $corSecundariaEscura;
      padding: 20px;
      border: 2px solid $corPrincipalClara;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      text-align: center;

      @include tela(mobile) {
        width: 180px;
        height: 220px;
      }

      img {
        max-width: 260px;
        height: 180px;
        margin-bottom: 12px;
        margin: auto;

        @include tela(mobile) {
          height: 80px;
        }
      }

      h4 {
        margin-top: auto;
      }
    }
  }
}
